# embedding model
EMBEDDING_BASEURL=
EMBEDDING_MODEL=
EMBEDDING_API_KEY=
VECTOR_DIMENSION=2048
EMBEDDING_TOP_K=10
EMBEDDING_INPUT_TOKEN=131072

# rerank model
RERANK_BASEURL=
RERANK_MODEL=
RERANK_API_KEY=
RERANK_TOP_K=5
RERANK_SCORE_THRESHOLD=0.0
RERANK_INPUT_TOKEN=8192

# file storage
DATABASE_PATH=~/.rag-mcp
