# embedding model
EMBEDDING_BASEURL=
EMBEDDING_MODEL=
EMBEDDING_API_KEY=
VECTOR_DIMENSION=
EMBEDDING_TOP_K=
EMBEDDING_INPUT_TOKEN=

# rerank model
RERANK_BASEURL=
RERANK_MODEL=
RERANK_API_KEY=
RERANK_TOP_K=
RERANK_SCORE_THRESHOLD=
RERANK_INPUT_TOKEN=

# file storage
DATABASE_PATH=./database
